body {
  width: 360px;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
a {
  text-decoration: none;
  color: #077087;
  font-family: 'Quicksand', sans-serif;
}
p {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Abel', sans-serif;
}
h1 {
  letter-spacing: 1.5px;
  text-align: center;
}
h4 {
  font-size: 14px;
}
#container {
  padding: 5px;
}

/* Navbar */
.navbar-extension {
  background-color: #077087;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.navbar-extension-content {
  display: flex;
  align-items: center;
}
.navbar-extension-logo {
  flex: 0 0 35px;
  width: 36px;
  height: 36px;
}
.navbar-extension-linen {
  color: white;
  margin: 0;
  padding-left: 6px;
}
#go-to-list {
  z-index: 2;
  color: white;
  font-size: 18px;
}
#go-to-list:focus {
  outline: none;
}
/* lack of info */
#lack-of-info-message {
  padding: 0 20px;
}
/* item evaluation */
.item-evaluation {
  display: flex;
  padding: 20px;
}
.general-mark {
  flex: 0 0 120px;
  width: 120px;
  height: 120px;
  color: white;
  border-radius: 1px;
  position: relative;
}
.general-mark h1 {
  margin: 0;
}
.general-mark p {
  margin: 0;
}
.detail-info {
  color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  width: calc(100% - 120px - 10px);
  position: relative;
}
.detail-info h2 {
  margin: 0;
  width: 100%;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.big-mark {
  font-size: 55px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 18px;
}
.rating {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.impact-info-block {
  padding-top: 10px;
}
.impact-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.impact-info h3 {
  flex-grow: 1;
  margin: 0px;
  padding: 3px 0;
}
.impact-info p {
  margin: 0px;
  text-align: left;
}
.extension-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #077087;
  border-radius: 1px;
  margin: 0 20px 20px 20px;
  padding: 0 20px;
  transition: opacity 0.3s ease;
}
#add-item-to-list {
  color: white;
  font-size: 20px;
}
a#add-item-to-list:hover {
    opacity: .8;
}
.added {
  padding: 0 20px;
  margin: 0px;
}
.item-ext-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: lighter;
}
.detail-info h1 {
  padding-bottom: 10px;
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}
.detail-info h2 {
  font-size: 20px;
}
/* alternative */
.alternative-title {
  margin-top: 20px;
}
.alternative-mark {
  background-color: #32B796;
  flex: 0 0 84px;
  height: 84px;
}
.alternative-photo {
  height: 80px;
  border: 2px solid #49D0AC;
  border-radius: 1px;
}
.alternative-big-mark {
  font-size: 40px;
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
}
.alternative-evaluation {
  padding: 20px;
  position: relative;
}
.alternative-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.main_desc {
  margin-bottom:35px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.main_desc > div{
  margin:0 auto;
  font-size:0.8em;
  margin-bottom:10px;
}
section {
  display:none;
}
section div.floating{
  text-align:center;
  padding-top: 30px;
  height:190px;
}
/* slide show */
.tns-outer {
  position: relative;
}
.tns-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left:0;
  right:0;
  top: 50px;
}

.tns-controls button {
  border: none;
  background: none;
  transform: scale(1, 2);
  font-size: 20px;
  font-weight: lighter;
  z-index: 2;
}
.tns-controls button:focus {
  outline: none;
}
/* impact color */
.bad_impact {
  background-color: #EE5F5B;
}
.normal_impact {
  background-color: #E67E22;
}
.good_impact {
  background-color: #49D0AC;
}
/* hover effect on text */
a#go-to-list:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s ease;
}
a#go-to-list:hover:after {
    width: 100%;
}
